@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: blanchedalmond;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 10px;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    text-align: center;
    position: relative;
    margin: 10;
    padding: 10px;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 50px;
    color: azure;
    padding: 20px;
}

/* NAVIGATION */
.nav-section {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.nav-section a {
    color: #f8f9ff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    transition: 0.3s;
}

.nav-section a:hover {
    color: #ffd369;
}

/* MAIN CONTENT */
main,
footer {
    padding: 10px
}

main h2 {
    font-size: 30px;
    padding: 10px;
}

p {
    word-spacing: 5px;
}

/* BUTTON EFFECTS  */
button {
    background-color: #3c59d9;
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #764ba2;
    transform: translateY(-3px);
}

/* FORM EFFECTS */
input:focus,
textarea:focus {
    border-color: #0f0e10;
    box-shadow: 0 0 8px rgba(8, 6, 10, 0.4);
}

/* ANIMATION EFFECTS */
.fade {
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}